{% extends 'adminpanel/base.html' %}

{% block content %}
<h2>Dashboard</h2>
<hr>

<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5>Total Courses</h5>
                <h2>10</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5>Total Subjects</h5>
                <h2>25</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5>Total Students</h5>
                <h2>120</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
