.about-wrap {
    position: relative;
}

.abt-bg {
    position: absolute;
    z-index: -1;
    height: 700px;
    width: 700px;
    display: block;
    background: url(../assets/images/blob.svg);
    background-repeat: no-repeat;
    right: -250px;
    top: -100px;
    animation: animateIcon 20s ease infinite;
}

.bg-2 {
    left: -350px;
    top: 50px;
    height: 800px;
    width: 800px;
    background-size: 100%;
    transform: rotate(120deg);
    animation-duration: 15s;
}


@keyframes animateIcon {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}

.abt-courses i {
    font-size: 50px;
    margin: 20px;
    display: inline-block;
    position: relative;
    animation: animateIcon 1.5s ease-in infinite;
}
.abt-courses i:nth-of-type(1){
    color: #e64a19;
    animation-duration: 1.5s;
}
.abt-courses i:nth-of-type(2){
    top: -30px;
    color: #455a64;
    animation-duration: 1.1s;
}
.abt-courses i:nth-of-type(3){
    color: #283593;    
    animation-duration: 1.2s;
}
.abt-courses i:nth-of-type(4){
    left: -20px;
    color: #2e7d32;    
    animation-duration: 1.5s;
}
.abt-courses i:nth-of-type(5){
    font-size: 70px;
    color: #ff8f00;
    animation-duration: 3s;
}
.abt-courses i:nth-of-type(6){
    right: -20px;
    color: #7b1fa2;
    animation-duration: 1.2s;
}
.abt-courses i:nth-of-type(7){
    color: #1565c0;
    animation-duration: 1.4s;
}
.abt-courses i:nth-of-type(8){
    bottom: -30px;
    color: #5d4037;
    animation-duration: 1.3s;
}
.abt-courses i:nth-of-type(9){
    color: #1565c0;
}


.abt-title {
    background-color: #f3e5f5;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 0 6px 4px 8px;
    margin: -30px 0px 20px 0;
    min-width: 270px;
}

.abt-content-wrap {
    border: 3px solid #f3e5f5;
    padding: 10px 20px;
    border-radius: 0 6px 4px 8px;
    height: 100%;
}