.facilities {
  border: 2px solid #ccc;
  border-radius: 6px;
  box-shadow: 5px 6px 0 #FF9800;
  background: #c8eeff;
  position: relative;
}

.bfac {
  background: #FF9800;
  color: #ffffff;
  font-weight: bold;
  padding: 16px;
  font-size: 24px;
  text-align: center;
  margin: 4px;
  border-radius: 7px 7px 0 0;
  animation: animateFacility 1.5s ease infinite;
}


.facilities .facility {
  color: #000000;
}
.facilities .facility div:nth-child(odd) {background-color: #b3f5ff;}
.facilities .facility div:nth-child(even) {background-color: #c7f9ff;}

@keyframes animateFacility {
 0%, 80%, 100% {opacity: 1;}
 90%{opacity: 0.2}
}
/* @keyframes animateFacility {
 0%, 100% {left: -40px; opacity: 1; background-color: #FF9800;}
 70%{left: 0; opacity: 1;  background-color: #5505b8;}
 75%{left: 0; opacity: 0;}
 80%{left: -40px; opacity: 0;}
 85%{left: -40px; opacity: 1;}
} */

.total-amt-wrap, .error-wrapper, .success-wrapper {
  display: none;
}

.refNumber {
  font-weight: bold;
}
.sec-header {
  background-color: #0678ab;
    padding: 13px 20px;
    margin: 20px 0;
    font-weight: 600;
    display: inline-block;
    position: relative;
    left: -40px;
    padding-left: 40px;
    border-radius: 0px 10px 10px 10px;
    color: #fff;
}