.ct-wrap {
    color: #ef6800;
    border: 1px solid rgba(239, 104, 0, 0.2);
    border-radius: 5px;
    padding: 30px 20px 20px;
    margin: 24px 10px;
    position: relative;
    text-align: center;
  }
  .ct-wrap .icon {
    color: #e91e63;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -50px;
    background: #f4e8d8;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 0;
    padding: 15px;
    font-size: 37px;
  }
  
  .contact-title {
    color: #e91e63;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Philosopher', sans-serif;
  }
  
  .contact-value {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #4d0999;
  }

  .ct-wrap a {    
    color: #4d0999;
    text-decoration: none;
  }