* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

.top-bar {
  font-size: 14px;
  background-color: #ef6800;
  /* background: linear-gradient(45deg, #ef6800, #2196f3, #ff9800,#ff5722); */
  color: #fff;
  background: #588ab2;
}

.track-image {
  width: 150px;
}

.top-bar a {
  color: inherit;
  text-decoration: none;
}

.top-bar .links a, .apply-branch {
  margin: 3px;
  padding: 5px 20px;
  border-radius: 6px;
  background-color: #4caf50;
  transition: all .8s ease-in;
  font-size: 12px;
}

.navbar-logos {
  width: 100px;
  margin: 0;
}


.top-bar .links a:hover {
  box-shadow: inset 250px 0 0 0 #2196f3
}

.top-bar .apply-branch, .branch-apply-nav-item {
  background-color: #ec7021;
  animation: animateApply 2s ease infinite;
  padding: 0 5px;
}

.branch-apply-nav-item a.nav-link:hover {
  color: #000000;
}

@keyframes animateApply {
  0%,100%,45%, 55% {opacity: 1; }
  49%, 50% {opacity: 0; }
}

.top-bar .links a:nth-child(3) {background-color: #ff9800;}

.custom-nav ul li {
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.custom-nav ul li:hover > a, .custom-nav ul li a:hover, .custom-nav ul li a:focus {
  color: #ef6800;
}

a.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-sub-menu {
  z-index: 100;
  display: none;
  position: absolute;
  background-color: #131e6b;
  list-style: none;
  padding: 10px;
  width: max-content;
  color: #fff;
  border-top: 3px solid #dd8503;
}

.custom-nav ul li:hover > .nav-sub-menu{
  display:block;
}

.primary-gradient-bg {
  background: linear-gradient(#fff, #eff2ff);
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.overlay-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;;
}

.primary-gradient-bg-inverse {
  background: linear-gradient(#eff2ff, #fff);
}

h1.gradient,
h2.gradient,
h3.gradient,
h4.gradient,
h5.gradient,
h6.gradient,
.text.gradient {
  color: #ef6800;
  background: linear-gradient(110deg, #ef6800, #142071 50%, #ef6800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: 'Philosopher', sans-serif;
}

.form-control,
.btn {
  border-radius: 2px;
}


.btn-login {
  background-color: #ec7021;
  border-radius: 4px;
}

.btn-login:hover {
  background-color: #357ef3;
}

#navbarNav .nav-link.active {
  color: #ef6800;
}

.bi-facebook {
  color: #3b5998;
}

.bi-twitter {
  color: #1da1f2;
}

.bi-whatsapp {
  color: #25d366;
}

.bi-youtube {
  color: #ff0000;
}

.bi-instagram {
  color: #c32aa3;
}

.bi-linkedin {
  color: #007bb5;
}

.social a {
  transition: all 0.4s ease;
  display: inline-block;
}
.social a:hover {
  transform: translateY(-10px);
}

.footer {
  background-color: #03032a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='323' height='323' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23442D07' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23142355'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  color: #ffffff;
}
.footer .title {
  font-weight: 600;
  color: #ffffff;
}
.footer .title::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  border-radius: 10px;
  background-color: #ff5722;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer a:hover {
  opacity: 0.8;
  color: #ff5722;
}

.footer .office, .ct-wrap  .office{
  color: #ffc107;
}
.footer img {
  max-width: 100%;
}

.footer-bottom {
  color: #ffffff;
  background-color: #000058;
  background: linear-gradient(45deg, #04095d, #630772);
}

.achievements-counter {
  background: #efefef;
  background: linear-gradient(20deg, #becdff, #ffe3c7);
  border-top: 3px solid #ef6800;
  position: relative;
}
.achievements-counter .title-wrap {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.achievements-counter .title {
  border: 3px solid;
  padding: 10px 20px;
  border-radius: 5px 20px;
  position: relative;
  top: -50px;
  color: #ef6800;
  background: #fff;
}

.marquee-container {
  background-color: #142072;
  background: linear-gradient(12deg, #142072 20%, #ef6800);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}


.course-link {
    color: #ffffff;
    background-color: #3f51b5;
    padding: 15px;
    display: inline-block;
    margin: 10px;
    border-radius: 0 10px 10px 14px;
    transition: all 0.3s ease-in;
    font-weight: 600;
    text-decoration: none;
    animation: courseLink .5s 1s linear forwards;
  }

  .index-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .index-courses .course-link {
    width: 40%;
    padding: 13px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .course-link:hover {
    color: #000000;
    transform: scale(1.1);
    border-radius: 5px;
  }
  .course-link i, .course-link span {
    vertical-align: middle;
  }

  .quote-icon {
    font-size: 50px;
  }

  .testimonials-wrap {
    background-color: #efefef;
    background-image: linear-gradient(130deg,
     rgb(63, 223, 244, 0.57),
     rgb(255, 193, 7, 0.27), 
     rgb(255, 128, 171, 0.59),
     rgb(84, 226, 244,0.5));
     background-attachment: fixed;
  }

  .testimonials-wrap .carousel-item .content{
    background-color: #0172a4;
    padding: 30px 20px;
    border-radius: 10px;
    min-height: 100px;
    text-align: center;
    color: #ffffff;
  }

  .testimonials-wrap .carousel-indicators {
    margin-bottom: -20px;
  }

  .carousel-indicators [data-bs-target] {
    background-color: #ff5722;
  }

  @keyframes courseLink {
    from{transform: scale(1.2)}
    to{transform: scale(1)}
  }

  @media (min-width: 992px) { 
    .navbar-nsdpi {
      background-color: #131e6b;
      padding: 0;
      color: #fff;
    }
  }

  .course-link.cat-1{background-color: #356982;}
  .course-link.cat-2{background-color: #673AB7;}
  .course-link.cat-3{background-color: #FF9800;}
  .course-link.cat-4{background-color: #2196F3;}
  .course-link.cat-5{background-color: #13978b;}
  .course-link.cat-6{background-color: #4CAF50;}
  .course-link.cat-7{background-color: #b33f3f;}

@media print {
  .noprint {
    display: none;
  }
}

.errorAlert {
  display: none;
}


.r-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}
  
.r-row .value {
  flex: 1;
}

.r-row .label { 
    flex: 1;
    font-weight: 600;
    font-style: italic;
    position: relative;
}

.r-row .label::after {
  content: ':';
  position: absolute;
  right: 10px;
  margin-right: 20px;
  font-style: normal;
}

.ac-notes {
  font-size: 10px;
}

.l-link{
  color: #fff;
  text-decoration: none;
  transition: all .5s ease;
  padding: 2px 8px;
  background: #6c757d;
  border-radius: 7px;
}
.l-link:hover{
  color: #6c757d;
  background: #f0cf6a;
}