
<head>
    {% load static %}
        <link href="https:/cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https:/cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">    
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="assets/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&amp;display=swap" rel="stylesheet">
        </head>
        <title>Terms and Conditions | NSDPI</title><link href="{% static 'css/about.css' %}" rel="stylesheet"/>
<body>
    <div class="d-flex flex-column h-100">
        <div>
            <div class="top-bar d-lg-block">
  <div class="container d-flex align-items-center fw-bold p-1">
    <div class="contact">
      <i class="bi bi-telephone-fill me-2"></i> Helpline:
      <a href="tel:+919031003154">+91-9031003154</a>
    </div>
    <div class="ms-auto d-none d-lg-block">
      Email: <a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="3c4f494c4c534e487c524f584c55125552">[email&#160;protected]</a> | <a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="e28c9186928bd697a2858f838b8ecc818d8f">[email&#160;protected]</a>
    </div>
    
    <div class="ms-auto d-flex align-items-center">
    <div class="d-none d-lg-block me-2">04 Jan 2026</div>
    <div class="dropdown">
      <a class="btn btn-login dropdown-toggle btn-sm fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-box-arrow-in-right"></i> Login
      </a>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="app/center-login.html">Center Login</a></li>
        <li><a class="dropdown-item" href="app/student-login.html">Student Login</a></li>
        <li><a class="dropdown-item" href="app/coordinator-login.html">Coordinator Login</a></li>
      </ul>
    </div>
    </div>
    <!-- <a href="branch-application" class="apply-branch ms-auto">Apply for Branch</a> -->
  </div>
</div>

<div class="d-none d-lg-block">
  <div class="container py-2 d-flex">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo-nsdpi.png'%}" width="230" height="80"/></a>
    <div class="d-flex ms-auto">
      <img class="navbar-logos" src="{% static 'images/logos/akam.png'%}" alt="Azadi Ka Amrit Mahotsav" />
      <img class="navbar-logos" src="{% static 'images/logos/g20.png'%}" alt="G20 India" />            
      <img class="navbar-logos" src="{% static 'images/logos/skill-india2.png'%}" alt="Sill India" />
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light navbar-nsdpi">
  <div class="container">
    <a class="navbar-brand d-lg-none" href="{% url 'home' %}"><img src="{% static 'images/logo-nsdpi.png' %}" width="230" height="80"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 custom-nav" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item">
          <a class="nav-link home" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
         <a class="nav-link about" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link courses" href="{% url 'courses' %}">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link student-zone" href="#">Student Zone</a>
          <ul class="nav-sub-menu">
            <li>
              <a class="nav-link student-zone" href="{% url 'student_login' %}">Student Login</a>
            </li>
            <li>
              <a class="nav-link student-zone" href="{% url 'admission_verification'}">Admission Verification</a>
            </li>
            <li>
              <a class="nav-link student-zone" href="admit-card.html">Admit Card Download</a>
            </li>
            <li>
              <a class="nav-link student-zone" href="verify_certificate.html">Verify Certificate</a>
            </li>
            <li>
              <a class="nav-link student-zone" href="results.html">Student's Result</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link placements" href="{% url 'placements'%}">Placements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link branches" href="{% url 'branches' %}">Branches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact" href="{% url 'contact' %}">Contact Us</a>
        </li>
        <li class="nav-item branch-apply-nav-item">
          <a class="nav-link contact" href="{% url 'branch_application' %}">Apply for Branch</a>
        </li>
      </ul>
    </div>
  </div>
</nav>        </div>
        <main class="flex-grow-1">
            <div class="p-5">
                <div class="container">
                    <h2 class="gradient">
                        <i class="bi bi-file-text me-3"></i> Terms and Conditions
                    </h2>
                    <div class="text-danger p-2">
                        <i class="bi bi-check-square-fill text-success me-3"></i> By using our service you accept our terms and conditions.
                    </div>
                    <div class="my-3 p-2">
                        <h4>Infrastructure Requirement</h4>
                        <ul>
                            <li>The franchise has to have minimum 800 Sq.ft. to 1200 sq.ft. area.</li>
                            <li>Excellent model of infrastructure which is Student friendly, Area should be 800 sqft to
                                1200 sqft or more.</li>
                            <li>There should be at least Two class room of size 200 to 250 sqft.</li>
                            <li>Office room should be approx 80 - 120 sqft</li>
                            <li>Recruiting of Teaching and administration staff.</li>
                            <li>Reception area should be wider enough for proper sitting arrangement of visitors</li>
                            <li>Clean & spacious toilet & washroom facility</li>
                            <li>Sitting capacity per class room - 40</li>
                            <li>One computer / Printer with scanner </li>

                        </ul>
                    </div>

                    <div class="my-3 p-2">
                        <h4>Manpower Requirement</h4>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Member</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Administrator/Manager</td>
                                    <td>Knowledge of Skill Development Course & Computer Software, Experience, having
                                        Good Management Skills.</td>
                                </tr>
                                <tr>
                                    <td>Faculty</td>
                                    <td>Qualification - B.ed/M.ed. Thorough knowledge of subject, disciplined, Student’s
                                        problem solving capacity.</td>
                                </tr>
                                <tr>
                                    <td>Counselor/Receptionist</td>
                                    <td>Pleasant personality with good communication skills, knowledge of Relevant
                                        Course.</td>
                                </tr>
                                <tr>
                                    <td>Marketing Executive</td>
                                    <td>Experienced Hardworking, knowledge of Skill Development/Related courses, good
                                        communication skills.</td>
                                </tr>
                                <tr>
                                    <td>Co-Ordinator</td>
                                    <td>After 50 Students. NSDPI office provides co-ordinator.</td>
                                </tr>
                                <tr>
                                    <td>Office Boys/Assistants</td>
                                    <td>Disciplined & Experienced.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-danger fw-bold">Note: The Affiliation Fee is non-refundable.</p>
                    </div>

                    <div class="my-3 p-2">
                        <h4>Rules for Establishment of the Center</h4>
                        <ul>
                            <li>Application for establishment of Exam Center should be submitted within the date
                                stipulated in the form.</li>
                            <li>The application should be submitted by itself and the institute Chairman/ Secretary or
                                by the principal of the school/ college along with a declaration of non- judicial stamp
                                paper worth Rs.10/-.</li>
                            <li>If the institute is recognized the application should be accompanied by the certified
                                copy of the proposal, by laws and other certified copies of the testimonials.</li>
                            <li>The application should be attested by Gazetted officer or Notary.</li>
                            <li>The center opening fees is Rs. 10000/- (for two years) and center renewal fees will be
                                Rs. 5000/- for every two years.</li>

                        </ul>
                    </div>

                    <div class="my-3 p-2">
                        <h4>Examination / Study Center Rights & Responsibilities and Work</h4>
                        <ul>
                            <li>To process and distribute study & teaching materials.</li>
                            <li>To make arrangements for the exam and to appoint invigilators & examiners after
                                obtaining approval from the NSDPI.</li>
                            <li>To collect Enrollment/Examination forms, exam material etc. from NSDPI Support office
                                from time to time and keep it in safe custody and maintain confidentially.</li>
                            <li>Generally, Class for any course is conducted 2 hours per day.</li>
                            <li>Teachers Salary & Educational Institutes Rent are paid by the center-in-charge /
                                Franchisee</li>
                            <li>For Successful running of Skill Development/Vocational course, all the advertisement
                                expenses will be borne by the center-in-charge / Franchisee.</li>
                            <li>Centre incharge will deposit Rs. 1000/- (Rs. One Thousand only) per student per annum
                                along with Admission form & examination fees of Rs. 650/- per head.</li>
                            <li>Centre-in-charge will submit the details of New admission within 30 days from the date
                                of admission.</li>
                            <li>Centre in charge has to deposit the Examination fees of every student with Examination
                                form till 5 May.</li>
                            <li>NSDPI will issue I-Card & Enrollment Number after receiving the Admission form with
                                fees.</li>
                            <li>To Prepare statement of Registered Students coming for Study at the Centre and submit
                                the same to the NSDPI from time to time and also to furnish the required documents for
                                the inspection of the NSDPI representatives.</li>
                            <li>To make arrangements for conducting the exam of students transferred from another centre
                                by the Franchisee/ Institute.</li>
                            <li>The centre in charge has to make the arrangements for the Practical Exams.</li>
                            <li>To observe scrupulously all instructions / orders issued by the Institute from time to
                                time and do nothing which violate or come in the way of the code of conduct laid down by
                                the NSDPI.</li>
                            <li>For any problem, the centre may contact the Head Office in person or by telephone on any
                                working day.</li>
                            <li>Hindi is the recognized language in case of any controversy - English is just a
                                translation.</li>
                            <li>Any centre violating the institute rules or working against the prestige will run the
                                risk of its registration being cancelled without any prior notice, and all expenses
                                there on will be borne by the centre incharge.</li>
                            <li>In the event of any controversy / disputes on amount of any student/ member/ employee of
                                the centre or Institution will be resolved by the Committee appointed by the National
                                Skill Development Program of India, New Delhi. Direct approach to the court will not be
                                permissible; the decision of the committee is final. All disputes will be subjected to
                                Delhi jurisdiction only.</li>

                        </ul>
                    </div>
                    <div class="p-2 mb-3"><input type="checkbox" class="form-check-input me-2" checked disabled>I agree
                        to the terms and conditions.</div>
                </div>
            </div>
        </main>
        <div>
           <div class="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 col-lg-3 text-center">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png'%}" width="130" /></a>
                <div class="social my-4 fs-4">
                    <a target="_blank" href="https://www.facebook.com/mpassfoundation"><i class="bi bi-facebook m-1"></i></a>
                    <!-- <a target="_blank" href="#"><i class="bi bi-twitter m-1"></i></a> -->
                    <a target="_blank" href="https://wa.link/5kkao5"><i class="bi bi-whatsapp m-1"></i></a>
                    <a target="_blank" href="https://www.instagram.com/nsdpi4u"><i class="bi bi-instagram m-1"></i></a>
                    <a target="_blank" href="https://www.youtube.com/@mpassfamily6553"><i class="bi bi-youtube m-1"></i></a>
                    <!-- <a href="#"><i class="bi bi-linkedin m-1"></i></a> -->
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div href="#" class="title fs-3">Trending Courses</div>
                <div class="py-3 d-flex flex-column">
                    <a href="{% url 'computer_softwares' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> DCA</a>
                    <a href="{% url 'computer_softwares' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> ADCA</a>
                    <a href="{% url 'computer_softwares' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> PGDCA</a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Diploma in Financial Accounting</a>
                    <a href="{% url 'computer_hardware_and_networking' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Diploma in Computer Hardware and Networking</a>
                    <a href="{% url 'electrical' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Certificate In Electrician (CE)</a>
                    <a href="{% url 'electrical' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Advance Diploma Course In Electrician (ADCE)</a>
                    <a href="{% url 'fashion_design_and_tailoring' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Certificate Course in Tailoring</a>
                    <a href="{% url 'fashion_design_and_tailoring' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Diploma in Tailoring Course</a>
                    <a href="{% url 'beautician' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Diploma In Beauty Parlour</a>
                     <a href="{% url 'teacher_training' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Nursery Teacher Training Course</a>
                    <a href="{% url 'teacher_training' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Diploma In Yoga Education</a>
                    <a href="{% url 'fire_and_safety_management' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Fire and Safety Management</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div href="#" class="title fs-3">Course Categories</div>
                <div class="py-3 d-flex flex-column">
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Computer Education Courses</a>
                    <a href="{% url 'beautician' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Beauty and Wellness Courses</a>
                    <a href="{% url 'teacher_training' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Teacher Training Courses</a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Paramedical Courses</a>
                    <a href="courses/amanat-training.html" class="py-1"><i class="bi bi-caret-right-fill"></i> Amanat Training Courses</a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Mechanical & Electrical Courses</a>
                    <a href="courses/soft-skills.html" class="py-1"><i class="bi bi-caret-right-fill"></i> Skill Development Courses</a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Job Oriented Courses</a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> CSR Courses </a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Govt. Approved Courses </a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Online & Offline Courses </a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Short Term Courses (Certification Courses)</a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Long Term Course (Diploma Courses)</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="title fs-3">Quick Links</div>
                <div class="py-3 d-flex flex-column">
                    <a href="{% url 'studentzone'}" class="py-1"><i class="bi bi-caret-right-fill"></i> Student Login</a>
                    <a href="app/center-login.html" class="py-1"><i class="bi bi-caret-right-fill"></i> Branch Login</a>
                    <a href="{% url 'branch_application' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Apply for a
                        Branch</a>
                    <a href="{% url 'branches' %}" class="py-1"><i class="bi bi-caret-right-fill"></i> Our Branches</a>
                    <a href="#" class="py-1"><i class="bi bi-caret-right-fill"></i> Download</a>
                </div>
                <div class="title fs-3">Contact Us</div>
                <div class="py-3">
                    <div class="py-1 d-flex align-items-center">
                        <i class="bi bi-telephone-fill me-3"></i>
                        <div class="d-flex flex-wrap">
                            <a href="tel:+919031003154">+91-9031003154</a>
                        </div>
                    </div>
                    <div class="py-1 d-flex align-items-center">
                        <i class="bi bi-envelope-open-fill me-3"></i>
                        <div class="d-flex flex-wrap">
                            <a href="cdn-cgi/l/email-protection.html#41323431312e3335012f322531286f282f" class="">
                                <span><span class="__cf_email__" data-cfemail="592a2c2929362b2d19372a3d2930773037">[email&#160;protected]</span></span>
                            </a>,&nbsp;
                            <a href="cdn-cgi/l/email-protection.html#630d1007130a571623040e020a0f4d000c0e" class="">
                                <span><span class="__cf_email__" data-cfemail="ddb3aeb9adb4e9a89dbab0bcb4b1f3beb2b0">[email&#160;protected]</span></span>
                            </a>
                        </div>
                    </div>
                    <div class="py-1 d-flex align-items-center">
                        <i class="bi bi-geo-alt-fill me-3"></i>
                        <div class="d-flex flex-column office-addr">
                            <div class="mb-2">
                            203, A10, Priyedarshni Vihar, <br> Laxmi Nagar<br> New Delhi- 110092 (India)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    <a href="https://www.indiapost.gov.in/_layouts/15/dop.portal.tracking/trackconsignment.aspx"
                        target="_blank"><img class="track-image" src="{% static 'images/track.jpg'%}" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container text-center p-2">
        <div class="row">
            <div class="col-md-8">
                <div class="d-inline-block">Copyright
                    2026 &copy;NSDPI. All Right Reserved</div>
                    
                <div class="d-inline-block"><span class="d-none d-sm-inline">|</span> Powered By: MPASS FOUNDATION</div>
            </div>
            <div class="col-md-4">
                <a class="l-link" href="{% url 'terms_and_conditions' %}" >Terms</a>
                <a class="l-link" href="{% url 'privacy_policy' %}" >Privacy Policy</a>
            </div>
        </div>
    </div>
</div>        </div>
    </div>


    
        <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="../cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <script src="../code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"bc89f8a0048f41f4b560e6b553a9aef0","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>